.img-Delivery {
    width: 100%;
    max-width: 500px;
    z-index: 40;
}

.img-mock {
    width: 100%;
    z-index: 1;
    filter: blur(4px) opacity(20%);
    animation: girar 704s linear infinite;
}

.img-mock-container {
    width: 100%;
    overflow: hidden;
}