.img-Delivery {
    width: 100%;
    max-width: 500px;
    z-index: 40;
}

.img-mock {
    width: 100%;
    z-index: 1;
    filter: blur(4px) opacity(20%);
    animation: girar 354s linear infinite;
}


@media (max-width:992px){
    .img-mock {
        width: 170%;
        animation: girar 54s linear infinite;
    }
}

.img-mock-container {
    width: 100%;
    overflow: hidden;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}