.img-Delivery {
    width: 100%;
    max-width: 500px;
    z-index: 40;
}

.img-mock {
    width: 100%;
    z-index: 1;
    filter: blur(4px) opacity(20%);
    animation: girar 354s linear infinite;
}




.img-mock-container {
    width: 100%;
    overflow: hidden;
    max-height: 400vh;
    pointer-events: none;
    align-items: center;
    justify-content: center;
}

.img-rain {
    width: 100%;
    position: relative;
    top: -200vh;
    animation: giraralrevez 304s linear infinite;
    z-index: 2;
    pointer-events: none;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes giraralrevez {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


.subido {
    width: 100%;
    position: relative;
    top: -600vh;
    margin-bottom: -400vh;
}

@media (max-width:992px) {
    .img-mock {
        width: 170%;
        animation: girar 54s linear infinite;
    }

    .img-rain {
        width: 200%;
        top: -50vh;
    }

    .subido {
     margin-top: 3500px;
    }

}