.nav{
    background-color: #8EC760;
    height: 33.33%;
    align-items: center;
    padding-top: 200px;
    width: 100%;
}

.nav-image{
    
    background-color: #8EC760;
 height:33.33%;
   position: sticky;
   top: 0;
   transition: 0.5s;
   z-index: 2;
}

.image{
  
    width: 33%;
    min-width: 150px;
  height: 250px;
  transition: 0.5s;
 }

.sticky {
    max-height: 100px;
    position: sticky;
    
   top: 0;
    background-color: 8EC760;
    color: white;
    transition: 0.5s;
}

.brand-sticky{
    height: 100px;
    transition: 0.5s;
}